{{ define "main" }}

{{ $slug := .Page.Slug }}

{{ $allProjects := .Site.Data.projects.all }}
{{ $allActiveProjects := where .Site.Data.projects.all "active" true }}
{{ $allArchivedProjects := where .Site.Data.projects.all "active" false }}
{{ $allFlagshipProjects := where .Site.Data.projects.all "flagship" true }}
{{ $allGraduatedProjects := where .Site.Data.projects.all "graduated" true }}

{{ if eq $slug "active" -}}
  {{ $.Scratch.Set "projects" $allActiveProjects -}}
{{ else if eq $slug "archived" -}}
  {{ $.Scratch.Set "projects" $allArchivedProjects -}}
{{ else if eq $slug "flagship" -}}
  {{ $.Scratch.Set "projects" $allFlagshipProjects -}}
{{ else if eq $slug "graduated" -}}
  {{ $.Scratch.Set "projects" $allGraduatedProjects -}}
{{ else -}}
  {{ $.Scratch.Set "projects" $allProjects -}}
{{ end -}}

{{ .Render "content" }}

<div class="td-projects">
  <div class="td-card-group card-group p-0 mb-4 mw-100">
    {{ range sort ($.Scratch.Get "projects") "name" -}}
    {{ partial "projects/card.html" . }}
    {{ end -}}
  </div>
</div>

{{ partial "page-meta-lastmod.html" . -}}

{{ end -}}