{{ $githublogo := resources.Get "images/github-mark.png" }}
{{ $lifecyclelogo := resources.Get "images/sonatype-lifecycle.png" }}
{{ $nxrmlogo := resources.Get "images/sonatype-repository.png" }}
{{ $ossindexlogo := resources.Get "images/sonatype-ossindex.png" }}

<div class="td-card card border me-4 mb-4" style="min-width: 25%;">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="project-card-title">
                        {{ if .flagship }}
                            <i class="text-accent-coral fa-solid fa-flag me-2" title="Flagship Project"></i>
                        {{ end }}
                        {{ .name | markdownify }}
                    </h4>
                </div>
                <div class="col text-end">
                    {{ if .graduated }}
                        <span class="badge bg-accent-hot-pink">GRADUATED</span>
                    {{ else if not .active }}
                        <span class="badge bg-accent-water" title="This project has been archived - you can still check it out, but it is not receiving updates or maintenance.">ARCHIVED</span>
                    {{ end }}
                    {{ range .tags -}}
                        <span class="badge bg-primary">{{ . | markdownify }}</span>
                    {{ end -}}
                </div>
            </div>
        </div>
    
    </div>    
    <div class="card-body mb-2" style="min-height: 200px">
        <div class="container">
            <div class="row mb-4">
            <div class="col text-center">
                {{ $imagename := .image }}
                {{ with resources.GetMatch (printf "images/%s" ($imagename|string)) }}
                <img src="{{ .RelPermalink }}" height="125" />
                {{ end }}
            </div>
            <div class="col">
                {{ .description | markdownify -}}
            </div>
            </div>
            <div class="row pt-4 border-top">
                <div class="col-4 text-end">
                    {{ if or (not .active) .graduated }}
                    Worked with:
                    {{ else }}
                    Works with:
                    {{ end }}
                </div>
                <div class="col-4 text-center">
                    {{ if .works_with.ossindex }}
                    <a href="https://ossindex.sonatype.org/" target="_blank"><img src="{{ $ossindexlogo.RelPermalink }}" height="25" alt="Sonatype OSS Index" /></a>
                    {{ end }}
                </div>
                <div class="col-4 text-center">
                    {{ if .works_with.sonatype_lifecycle }}
                    <a href="https://www.sonatype.com/products/open-source-security-dependency-management" target="_blank"><img src="{{ $lifecyclelogo.RelPermalink }}" height="25" alt="Sonatype Lifecycle" /></a>
                    {{ else if .works_with.sonatype_nexus_repository }}
                    <a href="https://www.sonatype.com/products/sonatype-nexus-repository" target="_blank"><img src="{{ $nxrmlogo.RelPermalink }}" height="25" alt="Sonatype Nexus Repository Manager" /></a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        {{ if .graduated }}
            <a href="{{ .graduated_link }}" target="_blank" rel="noopener">See official Sonatype Documentation</a>
        {{else}}
        <a href="https://github.com/sonatype-nexus-community/{{ .repository }}" target="_blank">
            <img src="{{ $githublogo.RelPermalink }}" height="25" />
        </a>
        {{ end }}
    </div>
</div>